*~
*.pyc
__pycache__
.cache
.coverage
*.egg
*.egg-info
TAGS
.coverage_rc_2
.coverage_rc_3
coverage_rc.tenjin.cache
*.class
.eggs
dist
.tox
build
test/perf/*.profile
test/perf/times.txt

# Sphinx
doc/_build/*
