*~
*.pyc
__pycache__
.cache
.coverage
.pytest_cache
*.egg
*.egg-info
TAGS
.coverage_rc_*
coverage_rc.tenjin.cache
*.class
.eggs
dist
.nox
.tox
build
test/perf/*.profile
test/perf/times.txt
*.demo_out

# Sphinx
doc/_build/*
