*~
*.py[cod]
__pycache__
.cache
.coverage
.pytest_cache
*.egg
*.egg-info
TAGS
.coverage_rc_*
coverage_rc.tenjin.cache
*.class
.eggs
dist
.nox
.mypy_cache
*_flymake.py
flycheck_*.py
build
test/out
test/perf/*.profile
test/perf/times.txt
*.demo_out

# Sphinx
doc/_build/*
