language: python
python:
  - 3.6
  - 3.7
  - 3.8
  - 3.9
  - pypy3.6-7.0.0
os:
  - linux
before_install:
  - travis_retry pip install --upgrade pip
  - travis_retry pip install --upgrade requirements-builder
  - requirements-builder --level=min setup.py > .travis-lowest-requirements.txt
  - requirements-builder --level=pypi setup.py > .travis-release-requirements.txt
env:
  - REQUIREMENTS=lowest
  - REQUIREMENTS=release
install:
  - pip install --upgrade nox
  - pip install --upgrade coveralls
  - travis_retry pip install --upgrade -r .travis-$REQUIREMENTS-requirements.txt
  - pip install -e .
script:
  - nox
after_success:
  - coveralls --rcfile="./test/.coveragerc"
